<!DOCTYPE html>
<html lang="en" >

<head>
    <link href="https://api.fontshare.com/v2/css?f[]=rowan@300,301,400,401,500,501,600,601,700,701,1,2&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=switzer@100,101,200,201,300,301,400,401,500,501,600,601,700,701,800,801,900,901,1,2&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=literata@200,201,300,301,400,401,500,501,600,601,700,701,800,801,900,901,1,2&display=swap" rel="stylesheet"> 
    <link href="https://api.fontshare.com/v2/css?f[]=zodiak@100,101,300,301,400,401,700,701,800,801,900,901,1,2&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/shared/style.css" />

    <meta charset="utf-8" />
    <title>Minimally Whimsical Development</title>
</head>

<body>
    <section class="grid-holder">
        <div class="container">
            {% block content %} {% endblock content %}
        </div>
    </section>
</body>
<footer>
    <a href="https://x.com/therealmimsydev" class="social-link" target="_blank" rel="noopener">
        <i class="fab fa-x-twitter"></i>
    </a>
    <a href="https://github.com/mimsydev" class="social-link" target="_blank" rel="noopener">
        <i class="fab fa-github"></i>
    </a>
</footer>

<script src="https://kit.fontawesome.com/629efdf220.js" crossorigin="anonymous"></script>

</html>
