<!Doctype html>
<html lang="en" />

<head>
    <meta charset="utf-8" />
    <title>Minimally Whimsical Development</title>
</head>

<body>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock content %}
        </div>
    </section>
</body>
<footer>
    <a href="https://x.com/therealmimsydev" class="social-link" target="_blank" rel="noopener">
        <i class="fab fa-x-twitter"></i>
    </a>
</footer>

<script src="https://kit.fontawesome.com/629efdf220.js" crossorigin="anonymous"></script>

</html>
